.HeadingContainer {
    animation: 2s ease-out 0s 1 slideInFromRight;

    background: transparent;
    padding: 30px;
    position: relative;
    margin-top: 7rem;
    margin-bottom: 2rem;
    
}

.Heading {
    margin-top: 5rem;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.HeroImage {
    position: absolute;
    top: -3rem;
    left: -2.5rem;
    background: white;
    border-radius: 50%;;
}

@media (min-width: 768px) {

    .Para {
        margin-top: 4rem;
    }

    .HeadingContainer {
        height: 70%;
        margin-bottom: 4rem;
    }

}