.HeadingContainer {
    animation: 2s ease-out 0s 1 slideInFromRight;
    background: transparent;
    padding: 30px 30px 5px 30px;
    position: relative;
    margin-top: 7rem;
    margin-bottom: 2rem;
    
}

.MonthContainer {
    animation: 2s ease-out 0s 1 slideInFromRight;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.MyButton {
    
    Padding: .2rem 0.5rem;
    margin: 0.25rem;
    font-size: 1.5rem;
    background-color: white;
    border: none;
    background-color: black;
    color: white;
}

.MyButton:hover {
    background-color: white;
    color: black;
}

.MyButton:focus {
    background-color: white;
    color: black;
}

.HvrSweepToBottom:before {
    background: white;
    color: black;
    height: 100%;
}

.Heading {
    margin-top: 5rem;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.HeroImage {
    position: absolute;
    top: -3rem;
    left: -2.5rem;
    background: white;
    border-radius: 50%;;
}

@media (min-width: 768px) {

    .Para {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .HeadingContainer {
        height: 70%;
        margin-bottom: 4rem;
    }

}