.App {
  text-align: center;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: "Tilt Neon", sans-serif;
}

.Bod {
  min-height: 100vh;
  min-width: 100wv;
  text-align: center;
}

h1, h2 {
  font-family: "Notable", sans-serif;
}
